<%- include('partials/header'); -%>
<ol class="breadcrumb">
    <li><a href="/about">/About/</a></li>
</ol>
<div class="well well-lg">
    <h1>About</h1>
    <p>This blog website is temporary, I'll eventually update its features, change the brand name, connect to a news articles APIs, as well as a link to a database to allow user login. This will be an open-source project, so if you want to contribute, you can get access to the source code in the contact section.</p>
</div>
<%- include('partials/footer'); -%>