<%- include('partials/header'); -%>
<div class="container" style="min-height: 100vh">
    <h1>Compose</h1>
    <form action="./compose" method="POST">
        <div class="form-group">
            <label for="postTitle">Title</label>
            <input id="postTitle" type="text" class="form-control" name="postTitle" required>
        </div>
        <div class="default">
            <label for="postContent">Post</label>
            <!-- <textarea id="postContent" class="form-control" name="postContent" cols="50" rows="16" placeholder="What's on your mind?"></textarea> -->
            <textarea id="default" name="postContent" cols="50" rows="24"></textarea><br>
        </div>
        <div class="form-group cancel-submit-btn">
            <a class="btn btn-danger" name="cancel" href="./">Cancel</a>
            <button class="btn btn-info" type="submit">Publish</button>
        </div>

    </form>
</div>
<%- include('partials/footer'); -%>