<%- include('partials/header'); -%>
<h1>Compose</h1>
<form action="./compose" method="POST">
    <div class="form-group">
        <label for="postTitle">Title</label>
        <input id="postTitle" type="text" class="form-control" name="postTitle">
    </div>
    <div class="default">
        <label for="postContent">Post</label>
        <!-- <textarea id="postContent" class="form-control" name="postContent" cols="50" rows="16" placeholder="What's on your mind?"></textarea> -->
        <textarea id="default" name="postContent" cols="50" rows="24"></textarea><br>
    </div>
    <button class="btn btn-primary" type="submit">Publish</button>
</form>
<%- include('partials/footer'); -%>