<%- include('partials/header'); -%>
<ol class="breadcrumb">
    <li><a href="/contact">/Contact/</a></li>
</ol>
<h1>Contact</h1>
<div class="well well-lg contact-section">
    <img class="img-circle" style="height: 140px; width: 140px;"
        src="https://lh3.googleusercontent.com/ogw/ADea4I7lKDkKy3HH8uCElVjQaEUF7jxgezA8pcrUCFKz=s83-c-mo"
        alt="My Profile Picture">
    <div class="well well-sm" style="margin-top: 20px;">
        <h3>Contact Details:</h3>
        <p>vladdcantor@gmail.com</p>
        <a href="https://www.facebook.com/YamatoChan007" target="_blank"
            rel="noopener noreferrer">facebook.com/YamatoChan007</a>
        <hr>
        <h3>Others:</h3>
        <a href="https://github.com/VladdyHell" target="_blank" rel="noopener noreferrer">My Github Profile</a>
        <a href="https://codepen.io/vladdimir">My Codepen Profile</a>
    </div>
    <hr>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Note:</h3>
        </div>
        <div class="panel-body">
            My Codepen projects are outdated, I'll update as soon as I use codepen for
            snippets and I currently use github for a better version control
        </div>
    </div>
</div>
<p></p>
<%- include('partials/footer'); -%>